*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: poppins, sans-serif;

}

:root{ /* :root = cria variáveis globais no css*/
   --cor_menu: #B0D9B1;
   --altura_cabecalho: 90px;
   --cor_menu_lateral: #79AC78;
}

.header{ 
    background: var(--cor_menu);
    height: var(--altura_cabecalho);
    display: flex; /*alinha na horizontal*/
    justify-content: space-between; /*espaço entre eles no meio*/
    align-items: center; /*centraliza na vertical*/
    padding: 35px 40px;
}

.header_details{
    display: flex;
    align-items: center;
}

i{ /*icon*/
    color: #333;
    padding: 10px
}


/*imagem-------------------------------*/
.logo{
    height: 50px;
    width: auto;
}

.logo:hover{
    transform: scale(1.1);
    object-fit: cover; /*fixa a imagem pra não distorcer o tamanho do elemento pai*/

}

.user{
    height: 60px;
    border-radius: 50%;
}

.user:hover{
    transform: scale(1.1);
}
/*---------------------------------------*/
.corpo{
    height: calc(100vh - var(--altura_cabecalho));
}

.menu{
    width: 20%;
    height: 100%;
    background-color: var(--cor_menu_lateral);
    color: rgb(220, 243, 217);

    /*animação
    animation-name: animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;*/
}

.items_button{
    display: flex;
    width: 100%;
    height: 40px;
    background: transparent;
    align-items: center;
    color: white;
    cursor: pointer;
    gap: 10px; /*espaço entre os elementos do botão (precisa do display flex)*/
    border: none;
    padding-left: 15px;
}

#icon{
    color: white;
}

.items_button:hover{
    background-color: #e48f84;
}

/*opçoes menu*/




/*------------exemplos--------------*/

/* celular
@media (max-width : 500px) { quando a largura for 500px ou menor, mudar a estrutura do site
    .menu{
        display: none;

    }

}

@keyframes animation { animação
    from{ 
        background-color: red;
    }
    25%{ 
        background-color: blue;
    }
    50%{
        background-color: rgb(22, 104, 70);
    }
    to{
        background-color: red;
    }

}*/